html {
	/* position: fixed; */
	min-height: 100%;
	min-width: 100%;
  }
  
body {
    background-color: snow;
    font-family: 'Times New Roman', Times, serif;
  }

#chart-area svg {
	margin-left: auto;
	margin-right: auto;
    display: block;
}

nav.navbar {
	background: linear-gradient(rgb(82, 110, 133), rgb(27, 79, 122),rgb(52, 129, 192));
	color: snow;
	top: 10;
	width: 100%; /* Set the fixed height of the footer here */
	height: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu {
	background: linear-gradient(rgb(82, 110, 133), rgb(27, 79, 122),rgb(52, 129, 192));
	
}

nav .navbar-nav li a.dropdown-item {
	color: snow;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
	font-size: 30px;
    font-weight: 50;
	margin-left: 30px;
	color: snow;
}

#reset-button, #play-button, #slider-div {
	float: left;
	margin-right:10px;
}

#slider-div {
	width:300px;
	margin-left:10px;
}

#reset-button, #play-button {
	margin-top: 5px;
	margin-bottom:10px;
}

#region-select {
	width: 150px;
	float:right;
	margin-top:5px;
}

#footer {
	bottom: 0;
	width: 100%; /* Set the fixed height of the footer here */
	height: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
	text-align: center;
	background: linear-gradient(rgb(82, 110, 133), rgb(27, 79, 122),rgb(52, 129, 192));
	color: snow; 
}


